#grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-basis: stretch;
  width: 100%;
}

.square {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: lightgray;
  border: solid;
  border-width: 0.5px;
  border-color: gray;
}